.ticketWrapper {
    align-content: center;
    border-style: solid;
    border-color: black;
    border-radius: 25.0px;
    background-color: yellow;
    position:fixed;
    top: 50%;
    left: 50%;
    width:15em;
    height:18em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
  }

  .ticketHeader {
    size: auto;

  }

  .ticketNumberWrapper {
    background-color: white;
    border-style: solid;
    border-color: black;
    border-radius: 25.0px;
    margin-left: 25%;
    margin-right: 25%;
  }

  #ticketNumber{
    padding: -10%;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: red;
  }

  #ticketService{
    text-align: center;
    font-weight: bold;
  }

  #packagingButton{
    height: 30px;
    width: 150px;
    margin-top: 20%;
    margin-left: 19%;
    border-radius: 25.0px;
    font-size: 20px;
    font-weight: bold;
  }

  #accountingButton{
    height: 30px;
    width: 150px;
    margin-left: 19%;
    margin-top: 10px;
    border-radius: 25.0px;
    font-size: 20px;
    font-weight: bold;
  }
  #serviceName{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
  }