.container, .requestContainer, .loadingContainer, .ticketContainer {
    display: flex;
    flex: 1;
}
.container {
    height: 100vh;
}
.requestContainer {
    flex-direction: column;
    margin: 15rem;
    align-items: center;
}
.requestContainer h1 {
    margin-bottom: 3rem;
}
.requestContainer button {
    margin: 1rem;
}
.loadingContainer {
    justify-content: center;
    align-items: center;
}
.spinner {
    height: 50px;
}
.ticketContainer {
    flex-direction: column;
    margin: 10rem;
    align-items: center;
}
.tag {
    margin: 0 0.5rem;
    padding: 0.6rem;
    color: #fff;
    background-color: #444;
    text-transform: uppercase;
    font-weight: 500;
    border-radius: 0.5em;
}
.servedTicket {
    margin-bottom: 0.1em;
    font-size: 8em;
    font-weight: normal;
    font-family: monospace;
}
.info {
    text-align: center;
}
.datetime {
    font-family: monospace;
}
.estimatedTime {
    margin-top: 4rem;
}